html
  head
    title Frontend client
    link(rel='stylesheet', href='css/filepond.css')
    link(rel='stylesheet', href='css/style.css')
  body
    block content

    script(src='js/script.js', type='module')
