extends base

block content
  h1 Home page
  ul
    li
      strong Id: 
      .
        #{todo._id}
    li
      strong Title: 
      .
        #{todo.title}
    li
      strong Date: 
      .
        #{todo.date}
